body {
  font-family: 'Ariel', sans-serif;
}
header {
  background: #1D1D1D;
  color: #D2DCDA;
  height: 50px;
  padding: 0 25px;
  margin: 0 0 1px 0
  /* how to top/bottom center everything in this?? */
}
header h1 {
  font-size: 20px;
  float: left;
  padding: 15px
}
.login {
  float: right;
  background: #658D36;
  padding: 17px
}
nav {
  margin: 0 0 1px 0
}
nav ul {
  background: #052D63;
  padding: 15px;
  color: white;
}
nav li {
  display: inline-block;
  margin: 0 100px
}
#hero {
  background: url('../images/1.jpg') no-repeat;
  background-size: cover;
  padding: 300px
}
#hero h2 {
  color: white;
  font-size: 20px;
}
#hero article {
  background: #1D1D1D;
  color: white;
}
#hero p {
  padding: 5px;
}
#places {
  background: #D5DEE3;
}
.three-col {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.three-col img {
  height: 100px;
  width: 200px;
  margin: 25px 0;
}
.three-col h3 {

}
footer {
  background: #1D1D1D;
  color: #D6DEE3;
  font-size: 15;
  padding: 15px
}
