body {
  font-family: 'Ariel', sans-serif;
}
header {
  background: #1D1D1D;
  color: #D2DCDA;
  height: 50px;
  padding: 0 25px;
  margin: 0 0 1px 0
  /* how to top/bottom center everything in this?? */
}
header h1 {
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding: 15px
}
.login {
  float: right;
  background: #658D36;
  padding: 17px
}
nav {
  margin: 0 0 1px 0
}
nav ul {
  background: #052D63;
  padding: 15px;
  color: white;
  text-align: center;
}
nav li {
  display: inline-block;
  width: 500px;
  text-align: center;
}
#hero-img {
  background: url('../images/1.jpg') no-repeat;
  background-size: cover;
  padding: 500px
}
#hero-img h2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
#hero article {
  background: #1D1D1D;
  color: white;
}
#hero p {
  padding: 10px;
  margin: 15px 10px
}
#places {
  background: #D5DEE3;
}
.three-col {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 50px 10px 0 10px;
  text-align: left
}
.three-col img {
  height: 400px;
  width:  650px;
  margin: 0 0 25px 0;
}
.three-col h3 {
  font-size: 18px;
  font-weight: bold;
}
article {

}
footer {
  background: #1D1D1D;
  color: #D6DEE3;
  font-size: 15;
  padding: 15px
}
